@charset "utf-8";
/*定义侧栏样式*/
aside {
	float:left;
	display:inline-block;
	margin-right:50px;
}
/*添加子栏目按钮的样式*/
aside>button {
	background-color:hsla(120,60%,70%,0);	
	border:none;
	cursor:pointer;
	margin-left:30px;
}


/*定义小容器的样式*/
form {
	border-left:1px solid #797979;
	display:inline-block;
	padding-left:50px;
}
/*定义每个表单标签的样式*/
form>div>label {
	margin-right:10px;	
}
/*定义每个表单项的样式*/
form>div>label:before {
	content:"*";
	color:red;
}
/*定义每一个表单项的外边距*/
form>div {
	margin-bottom:30px;
}
/*专业部分下拉列表全部隐藏*/
#major>optgroup {
	display:none;	
}
/*课程名称的样式*/
#title {
	width:300px;	
}
/*课程描述的样式*/
#description {
	width:300px;
	height:150px;
}
/*所属系别和专业的样式*/
#depart , #major {
	width:200px;	
}
/*定义添加老师按钮的样式*/
#teach {
	background-color:rgba(0,0,0,0);	
	border:none;
	vertical-align:middle;
}
/*定义添加教师输入框的样式*/
input[name="teacherName"] {
	width:100px;
	margin-right:5px;
}
/*定义选中模板文字的样式*/
input[name="template"] {
	border:none;	
}
/*保存按钮和预览按钮的样式*/
#save , #preview {
	color:#FFF;
	background-color:#169BD5;
	border:1px solid #169BD5;
	border-radius:5px;
	width:100px;
	height:30px;
	margin-right:10px;
}


/*定义模态框的样式*/
#model {
    width:500px;
    height:500px;
    margin:5% auto;
    background-color:#FFF;
    border-radius:5px;
	padding:20px 0;
}
/*定义选择模板标题的样式*/
#model>span:nth-of-type(1) {
	margin-left:20px;	
}
/*定义关闭按钮的样式*/
#close {
	float:right;
	margin-right:20px;
	color:#808080f5;
	cursor:pointer;
}
/*定义无序列表的样式*/
#model>ul {
	overflow-y:scroll;
	height:400px;
	border-bottom:1px solid #8080804f;
	border-top:1px solid #8080804f;
}
/*定义模板的样式*/
#model>ul>li {
	display:inline-block;
	margin:15px;
	text-align:center;
	padding:10px;
}
/*定义模板图片的样式*/
#model>ul>li>img {
	display:block;	
}
/*定义确认按钮的样式*/
#confirm {
	margin:0 20px;	
}
/*定义确认按钮和取消按钮的样式*/
#confirm , #cancel {
	border-radius:5px;
	border:1px solid #199ED8;
	background-color:#199ED8;
	color:#FFF;	
	width:80px;
	height:30px;	
}
/*定义模态框外面的样式*/
#outer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    background-repeat:no-repeat;
    background-color:rgba(13,13,13,0.3);
    display: none;
}