@charset "utf-8";

/*定义有序列表选项的样式*/
aside>span+ol>li{	
	margin:15px 0;
	font-size:20px;
}

/*定义分类样式*/
#category {
	background-color:#F2F2F2;
	padding:10px 20px 15px;	
	margin:50px 0;
}
/*定义'>'左尖括号的样式*/
#category>div>a:first-child+span {
	font:900 20px Arial,Helvetica,sans-serif;
}
/*定义分类里面的每一行样式*/
#category>div {
	margin:5px 0;	
}
/*定义每一行的第一个超链接的样式*/
#category>div>a:first-child {
	font-size:20px;
}
/*定义每一行里的每一个超链接的样式*/
#category>div>a {
	margin:0 15px;		
}

/*定义选项卡的样式*/
#tab {
	margin:0;
}
/*定义选项卡里的每一个超链接的样式*/
#tab>a {
	font-size:28px;	
	margin-right:30px;
}

/*线条样式*/
#container>hr {
	width:45%;
	margin-left:0;
}