/*定义容器的样式*/
body {
	margin:50px 100px 0;
}

/*定义标题的样式*/
body>span {
	font-size:24px;	
	padding:20px;
	width:100px;
	color:#78b0f6;
	border:1px solid #ddd;
	border-bottom:none;
	border-radius:10px 10px 0 0;
	text-align:center;
}

/*定义添加账号按钮的样式*/
body>button {
	float:right;	
	margin-left:30px;
	width:100px;
	height:30px;
    color:#FFF;
	background-color:#169BD5;
	border:1px solid #169BD5;
	border-radius:5px;
}


/*定义搜索框表单样式*/
form:nth-of-type(1) {
	float:right;
}
form:nth-of-type(1)>input[type="search"] {
	width:200px;
	height:30px;	
}
form:nth-of-type(1)>img {
	border:1px solid #78b0f6;
	vertical-align:middle;
}


/*定义表格的样式*/
table {
	width:100%;
	margin-top: 80px;
}
/*定义字段头的样式*/
th {
	border-bottom: 1px solid #A0A0A0;
	font-weight: 400;
	font-size:20px;
	padding-bottom: 20px;
}
/*定义单元格的样式*/
td {
	text-align: center;
}
td>input , td>select {
	text-align:center;
    background-color: #FFF;
	height: 20px;
}
input:disabled , select:disabled {
	border:none;
}


/*定义分页样式*/
.page {
	margin:200px 0 100px;
	text-align:center;
}
/*定义每个分页按钮的样式*/
.page>ul>li {
	text-decoration:none;
	display:inline;
}
/*为了使<a>标签边框不重叠*/
.page>ul>li+li>a {
	border-left:none;
}
/*上一页按钮样式*/
.page>ul>li:first-child>a {
	border-radius:6px 0 0 6px;
}
/*下一页按钮样式*/
.page>ul>li:last-child>a {
	border-radius:0 6px 6px 0;
}
/*定义每个分页按钮超链接的样式*/
.page>ul>li>a {
	color: black;    
	font-size:20px;
    padding: 13px 20px;
    text-decoration: none;
    border: 1px solid #797979;	
}
/*悬停在分页按钮时的样式*/
.page>ul>li>a:hover:not(.active) {
	background-color: #ddd;
}
/*分页按钮被点击时的样式*/
.page>ul>li>a.active {
	background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}