@charset "utf-8";
/*定义侧边按钮的样式*/
body>input[type="image"] {
	float:left;
	margin-right:50px;
}

/*定义表单容器的样式*/
form {
	border-left:1px solid #797979;
	display:inline-block;
	padding-left:50px;
}
/*定义表单边框的样式*/
fieldset {
	border: none;
	padding:0px;
}
/*定义标签的样式*/
label {
	margin-right:10px;
}
label:before {
	content:"*";
	color:red;
}
/*定义每一个表单项的外边距*/
form div {
	margin-bottom:30px;
}
/*定义课程代号表单项的样式*/
input[name="courseID"]:read-only {
	background-color: rgb(222, 222, 222);
}
/*定义课程描述的样式*/
textarea[name="description"] {
	width:300px;
	height:150px;
}
/*定义添加教师输入框的样式*/
input[name="teacherName"] {
	margin-right:5px;
}
/*定义下拉列表的样式*/
select {
	width:200px;
}
/*定义添加老师和删除老师按钮的样式*/
#add , #reduce {
	vertical-align:middle;
}
/*保存按钮和预览按钮的样式*/
#save , #preview {
	padding:5px 20px;
	color:#FFF;
	background-color:#169BD5;
	border:1px solid #169BD5;
	border-radius:5px;
	margin-right:10px;
}