@charset "utf-8";
/*对内容的样式进行定义*/
.content {
	margin-top:45px;	
}
/*定义第一块内容的样式*/
.content:nth-of-type(2) {
	margin-top:80px;	
}

/*定义裁剪容器的样式*/
.content>div {
	width:320px;	
	height:160px;
	float:left;
	margin-right:15px;
	overflow:hidden;
}
/*定义封面的样式*/
.content>div>img {
	width:320px;	
}

/*'课程名称'文本样式*/
.content>a {
	font-size:24px;
	display: block;
	margin-bottom:20px;
	text-decoration:none;
	color:#000;
}
/*'课程名称'文本悬停时的样式*/
.content>a:hover {
	color:#78b0f6;
}
/*定义'系别'文本样式*/
.content>span:nth-of-type(1) {
	margin-right:40px;	
}
/*定义'系别'和'教学团队'文本样式*/
.content>span:nth-of-type(1) , .content>span:nth-of-type(2) {
	font-size:16px;
	color:#999;	
}
/*定义'课程描述'文本样式*/
.content>p {
	font-size:16px;
	white-space:nowrap; 
	width:60%; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
/*定义用户图标和留言图标的样式*/
.content>img:nth-of-type(1) , .content>img:nth-of-type(2) {
	height:15px;
}
/*参与用户数和留言评论数的文本样式*/
.content>span:nth-of-type(3) , .content>span:nth-of-type(4) {
	vertical-align:buttom;	
	line-height:200%;
	margin:0 35px 0 3px;
}