@charset "utf-8";
/*定义右键菜单样式*/
body>ul {
	position: absolute;
	box-shadow:0px 8px 16px rgba(0,0,0,0.2);
	z-index:1;
    width:100px;
	padding:0;
	background-color:#f9f9f9;
}
/*定义右键菜单项的样式*/
body>ul>li {
	padding:12px 16px;
	list-style-type:none;
	cursor:default;
}
/*定义悬停时的样式*/
body>ul>li:hover {
	background-color:#f1f1f1	
}


/*定义整个容器的样式*/
body>div {
	margin:100px auto;
	width:1300px;
}
/*定义导航样式*/
body>div>form {	
	background-color:#F2F2F2;
	padding:20px 50px;
	margin-bottom:50px;
}
/*定义给导航里面所有的元素样式*/
body>div>form * {
	vertical-align:middle;
}
/*定义添加按钮的样式*/
body>div>form>button {
	background-color:hsla(120,60%,70%,0);
	border:none;
	cursor:pointer;
}
/*定义添加按钮图片的样式*/
body>div>form>button>img {
	height:40px;
}

/*定义栏目样式*/
body>div>form>a {
	margin:10px;
}
/*定义输入表单的样式*/
body>div>form>a>input {
	font-size:24px;	
	text-align:center;
	width:120px;
	border:1px solid #000;
	padding:10px;
}
/*悬停在标题栏目时的样式*/
body>div>form>a>input:hover {
	background-color:#d2d3d561;
	cursor:default;
}


/*定义所有iframe的样式*/
body>div>iframe {
	width:100%;	
	border:none;	
}


/*点击栏目时的样式*/
.tap {
	background-color:#d2d3d561;
}