@charset "utf-8";
/*定义背景样式*/
body {
	margin:0;	
	overflow:hidden;
	background:url(../image/skin/background2.jpg) no-repeat fixed center center / 100% 100%;
}
/*定义整个容器的样式*/
body>div {
	margin:100px auto;
	width:85%;
}
/*定义导航样式*/
body>div>nav {	
	background-color:#F2F2F2;
	padding:20px 50px;
	margin-bottom:50px;
	opacity:0.85;
}
/*定义栏目样式*/
body>div>nav>a {
	margin:10px;
    font-size:24px;	
	text-align:center;
	border:1px solid #000;
	padding:10px;
    background-color:#FFF;
    text-decoration:none;
    color:#666;
}
/*初始化第一个栏目的样式*/
body>div>nav>a:first-child {
	background-color:#d2d3d561;
}
/*悬停在标题栏目时的样式*/
body>div>nav>a:hover {
	background-color:#d2d3d561;
}


/*定义所有iframe的样式*/
body>div>iframe {
	width:100%;	
	border:none;	
}