@charset "utf-8";
/* CSS Document */
body {
	margin:0;	
	overflow-x:hidden;
}
/*定义导航栏样式*/
nav {
	background-color:#199ED8;		
	padding:4px 50px;
}
/*导航条里所有的元素垂直居中*/
nav * {
	vertical-align:middle;
}
/*定义华软Logo样式*/
nav>img {
	height:50px;
}
/*定义'广州大学华软软件学院'文本样式*/
nav>span {
	font-size:27px;
	color:#FFF;		
}
/*定义登陆和用户名样式*/
nav>a , .dropbtn>span {	
	font-size:18px;
	color:#000;
	text-decoration:none;	
}
/*定义登陆样式以及下拉菜单的整体样式*/
nav>a , .dropdown {
	float:right;
	margin-top:8px;
}
/*定义登陆用户图标的样式*/
nav>a>img {
	height:35px;
}
/*定义下拉菜单的整体样式*/
.dropdown {
    display:inline-block;
}
/*定义用户头像样式*/
.dropbtn>img {
	height:35px;
	border-radius:100%;
}
/*定义下拉按钮样式*/
.dropbtn {    
    text-decoration:none;
	display:inline-block;
}
/*定义下拉内容DIV样式*/
.dropdown-content {
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    width:150px;
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
	z-index:1;
}
/*定义下拉内容的样式*/
.dropdown-content>a {
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
/*定义最后一个下拉内容的样式*/
.dropdown-content>a:last-child {
	border-top:1px dashed grey;	
}
/*定义下拉内容悬停时的样式*/
.dropdown-content>a:hover {
	background-color: #f1f1f1
}
/*下拉菜单悬停时再到下拉内容时的样式*/
.dropdown:hover>.dropdown-content {
    display: block;
}



/*定义侧边栏样式*/
aside {
	position:absolute;
	top:150px;
	right:100px;	
}
/*定义'精品课程'旁边的装饰*/
aside>span:empty {
	background-color:#199ED8;
	width:20px;
	height:45px;
	float:left;
	margin:0 10px;
}
/*定义'精品课程'文本样式*/
aside>span {
	font-size:28px;	
}


/*定义分页样式*/
.page {
	margin:50px 0 100px;
	text-align:center;
}
/*定义每个分页按钮的样式*/
.page>ul>li {
	text-decoration:none;
	display:inline;
}
/*为了使<a>标签边框不重叠*/
.page>ul>li+li>a {
	border-left:none;
}
/*上一页按钮样式*/
.page>ul>li:first-child>a {
	border-radius:6px 0 0 6px;
}
/*下一页按钮样式*/
.page>ul>li:last-child>a {
	border-radius:0 6px 6px 0;
}
/*定义每个分页按钮超链接的样式*/
.page>ul>li>a {
	color: black;    
	font-size:20px;
    padding: 13px 20px;
    text-decoration: none;
    border: 1px solid #797979;	
}
/*悬停在分页按钮时的样式*/
.page>ul>li>a:hover:not(.active) {
	background-color: #ddd;
}
/*分页按钮被点击时的样式*/
.page>ul>li>a.active {
	background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}


/*定义页脚样式*/
footer {
	height:100px;
	background-color:Lavender ;
	text-align:center;
	padding-top:10px;
}