@charset "utf-8";
/*定义表单样式*/
form {
	float:right;
}
/*定义搜索框样式*/
form>input[type="search"] {
	width:200px;
	height:30px;	
}
/*定义搜索按钮样式*/
form>input[type="image"] {
	border:1px solid #78b0f6;
	vertical-align:middle;
}


/*定义分页样式*/
.page {
	margin:50px 0 100px;
	text-align:center;
}
/*定义每个分页按钮的样式*/
.page>ul>li {
	text-decoration:none;
	display:inline;
}
/*为了使<a>标签边框不重叠*/
.page>ul>li+li>a {
	border-left:none;
}
/*上一页按钮样式*/
.page>ul>li:first-child>a {
	border-radius:6px 0 0 6px;
}
/*下一页按钮样式*/
.page>ul>li:last-child>a {
	border-radius:0 6px 6px 0;
}
/*定义每个分页按钮超链接的样式*/
.page>ul>li>a {
	color: black;    
	font-size:20px;
    padding: 13px 20px;
    text-decoration: none;
    border: 1px solid #797979;	
}
/*悬停在分页按钮时的样式*/
.page>ul>li>a:hover:not(.active) {
	background-color: #ddd;
}
/*分页按钮被点击时的样式*/
.page>ul>li>a.active {
	background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}


/*定义页脚样式*/
footer {
	height:100px;
	background-color:Lavender ;
	text-align:center;
	padding-top:10px;
}