/*定义容器的样式*/
body {
	margin:50px 0 0 100px;
}
/*定义标题的样式*/
body>p {
	font-size:24px;	
	padding:20px;
	width:150px;
	color:#78b0f6;
	border:1px solid #ddd;
	border-bottom:none;
	border-radius:10px 10px 0 0;
	text-align:center;
}
/*定义超链接的样式*/
body>a {
	float:left;
    margin-right:50px;
    text-decoration:none;
	color:#000;
}
/*定义图片的样式*/
body>a>img {
	height:150px;
	margin-bottom:10px;
	margin-top:50px;
	display:block;
}