@charset "utf-8";
/*定义索索结果文本样式*/
.container>span {
	margin-right:50%;
	font-size:18px;
	line-height:50px;
}
/*搜索结果数目的字体样式*/
.container>span>span {
	color:#3C3;	
}


/*定义精彩推荐每一行的样式*/
aside>div {
	margin:40px 0;
}
/*每一行缩略图的样式*/
aside>div>img {
	width:200px;
}
/*课程名称文本样式*/
aside>div>p:nth-of-type(1) {
	font-size:20px;
	margin:10px 0 5px;
}
/*系别的文本样式*/
aside>div>p:nth-of-type(2) {
	color:#999;
	margin:0;
}
/*定义侧边栏样式*/
aside {
	position:absolute;
	top:150px;
	right:100px;	
}
/*定义'精品课程'旁边的装饰*/
aside>span:empty {
	background-color:#199ED8;
	width:20px;
	height:45px;
	float:left;
	margin:0 10px;
}
/*定义'精品课程'文本样式*/
aside>span {
	font-size:28px;	
}